<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="./assets/style/style.css">
    <title>Home</title>
</head>

<body class="bg-dark">
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img class="w-25"
                    src="./assets/images/Captura_de_pantalla_2023-06-05_175222-removebg-preview.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./assets/pages/accounts.html">Accounts</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex">
                <div>
                    <button class="btn btn-primary text-black" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Log In</button>
                </div>
                <div>
                    <button class="btn btn-primary text-black" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Sign Up</button>
                </div>
            </div>
        </div>
    </nav>
    <main class="bg-dark text-light d-flex justify-content-between" id="app">
        <div>
            <section class="m-3">
                <h1>Client Manager</h1>
                <form @submit.prevent="addClient()">
                    <div class="mb-3">
                        <label for="exampleInputName" class="form-label">First Name:</label>
                        <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp"
                            v-model="clientData.firstName">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputLastName" class="form-label">Last Name:</label>
                        <input type="text" class="form-control" id="exampleInputLastName" v-model="clientData.lastName">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail" class="form-label">Email Address:</label>
                        <input type="email" class="form-control" id="exampleInputEmail" v-model="clientData.email">
                    </div>
                    <button type="submit" class="btn btn-success">Add Client</button>
                </form>
            </section>
            <section class="m-3">
                <h2>Client List</h2>

                <table class="table w-25">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Email</th>
                            <th scope="col">Delete Client</th>
                            <th scope="col">Edit Client</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="client in clients">
                            <th scope="row">{{ client._links.client.href }}</th>
                            <td>{{ client.firstName }}</td>
                            <td>{{ client.lastName }}</td>
                            <td>{{ client.email }}</td>
                            <td>
                                <button @click="deleteClient(client._links.client.href)" type="button"
                                    class="btn btn-danger">
                                    Delete Client
                                </button>
                            </td>
                            <td>
                                <button @click="editClient(client._links.client.href)" class="btn btn-warning"
                                    type="button">
                                    Edit Client
                                </button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </section>
        </div>
        <pre class="text-light w-25">
        {{restResponse}}
        </pre>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./assets/script/main.js"></script>
</body>

</html>