body{
margin: 0 !important;
padding: 0 !important;
box-sizing: border-box !important;
font-family: 'Roboto', sans-serif;
background-color: beige;
}
 
main{
    min-height: 80vh !important;
    
}
#account{
    background-color:#e8c39e !important;
    border: solid black !important;
}


a{
    text-decoration: none;
}

.contain-img{
    height: 25rem !important;
    object-fit: cover!important;
}

.vstack div:hover{
    transform: scale(1.0) !important;
    transition: 0.5s;
    border: 1px solid black;
    background-color: rgb(85, 65, 17);
    color: white!important;
}

#background{
    background-color:#b08e6b
}

.card{
    background-color: burlywood;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #0000005e;
}

.card-img-top{
    height: 12rem;
}

.list-group-item{
    margin-right: 5rem !important;
    margin-left: 5rem !important;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}


.list-group-flush{
    padding: 0!important;
}

.border-bottom{
    border: #f5e1ce
    ;
}
