body{
margin: 0 !important;
padding: 0 !important;
box-sizing: border-box !important;
}

main{
    min-height: 80vh !important;
}

#account:hover{
    transform: scale(1.1) !important;
    transition: 0.5s;
}

a{
    text-decoration: none;
}

.contain-img{
    height: 30rem !important;
    object-fit: cover!important;
}

#carouselExampleCaptions{
    margin: 0 5rem 1rem 5rem!important;
}

.vstack{
    margin: 0 5rem 0 5rem!important;
}